
@model MVCMusicStoreApplication.Models.Album

@{
    ViewBag.Title = "Index";
}


<h1 id="browse-main-header"> ASP.NET MVC MUSIC STORE</h1>


<div>
    <h2>Content Body </h2>

    <h2 id="browse-list-header">Details</h2>

    <div>
        <dl>
 
            <dt id="album-Title">
                @Html.DisplayFor(model => model.Title)
            </dt>


            <!-- THIS does WORK!!! -->
            <dd>
               <img src="@Html.DisplayFor(model => model.AlbumArtUrl)" />"
            </dd>


            <!-- Have to have in pairs to work properly??
                <dd> will not bold the text, <dt> will! -->
            <dd id="artist-Name">
               @Html.DisplayNameFor(model => model.Artist):
            </dd>

            <dt>
                @Html.DisplayFor(model => model.Artist.Name)
            </dt>


            <dd id="album-Price">
                @Html.DisplayNameFor(model => model.Price):
            </dd>

            <dt>
                @Html.DisplayFor(model => model.Price)
            </dt>


        </dl>

        
    </div>
        
    <button id="cartButton">
        @Html.ActionLink("Add to Cart", "ShoppingCart", new { id = Model.AlbumId })
    </button>

    <br/>

    <button id="returnButton">
        @Html.ActionLink("Back to List", "Index")
    </button>
</div>




