
@model MVCMusicStoreApplication.Models.Album

@{
   Layout = "~/Views/Shared/_Layout.cshtml";
   ViewBag.Title = "Browse";
}


<head>
    <link href="~/Content/Store.css" rel="stylesheet" />
</head>


<div id="storeDiv" class="container">
    <p>Content Body </p>

    <h2>Details</h2>

    <div>
        <dl>

            <dt id="album-Title">
                @Html.DisplayFor(model => model.Title)
            </dt>


            <!-- THIS does WORK!!! -->
            <dd>
                <img src="@Html.DisplayFor(model => model.AlbumArtUrl)" />
            </dd>


            <!-- Have to have in pairs to work properly??
                <dd> will not bold the text, <dt> will! -->
            <dd id="artist-Name">
                @Html.DisplayNameFor(model => model.Artist):
            </dd>

            <dt>
                @Html.DisplayFor(model => model.Artist.Name)
            </dt>


            <dd id="album-Price">
                @Html.DisplayNameFor(model => model.Price):
            </dd>

            <dt>
                @Html.DisplayFor(model => model.Price)
            </dt>


        </dl>


    </div>

    <button id="cartButton">
        
        @Html.ActionLink("Add to Cart", "AddToCart", "ShoppingCart" ,new { id = Model.AlbumId}, null)
    </button>

    <br />

    <button id="returnButton">
        @Html.ActionLink("Back to List", "Index", new { id = Model.GenreId })
    </button>
</div>




